.flex   {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
}

#size   {
    width: 50px;
}

.modes  {
    display: block;
    margin: 20px;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

button  {
    background-color: #FFFFFF;
    color: #000000;
    border: 1px solid #222222;
    box-sizing: border-box;
    color: #222222;
    cursor: pointer;
    display: inline-block;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
    outline: none;
    padding: 13px 23px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
    user-select: none;
    -webkit-user-select: none;
    width: auto;
}

button:hover {
    box-shadow: 2px 2px;
    transition: box-shadow .2s;
}

button:active {
    background-color: #F7F7F7;
    transform: scale(.98);
}

.enabled    {
    background-color: #000000;
    color: #FFFFFF;
}